[Unit]
After=network.target
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Desktop/Blynk_final_v2.py

[Install]
WantedBy=multi-user.target
